[flake8]
max-line-length = 120
import-order-style = pycharm
enable-extensions = G
ignore =
    # line break occurred after a binary operator
    W504,
    # missing trailing comma in Python 2 only
    C814
